{% extends 'index.html' %}

{% block sidebar %}
<div class="schedule-group-selection">
    <h1 class="text-center">Выберите группу для просмотра расписания:</h1>
    <form method="GET" action="{{ url_for('schedule.display_schedule') }}">
        <button type="submit" name="group" value="1211_1212">1211_1212</button>
        <button type="submit" name="group" value="1213_1217">1213_1217</button>
        <button type="submit" name="group" value="1221_1222">1221_1222</button>
        <button type="submit" name="group" value="1223_1227">1223_1227</button>
        <button type="submit" name="group" value="1231_1233">1231_1233</button>
        <button type="submit" name="group" value="1234_1237">1234_1237</button>
        <button type="submit" name="group" value="1241">1241</button>
        <button type="submit" name="group" value="1243_1247">1243_1247</button>
        <button type="submit" name="group" value="1251">1251</button>
        <button type="submit" name="group" value="М1217">М1217</button>
        <button type="submit" name="group" value="М1213">М1213</button>
    </form>
</div>
{% endblock %}



{% block content %}
<div class="schedule-table">
    <h1 class="text-center">Расписание для группы {{ selected_group }}:</h1>
    <table>
        <tr>
            <th>День недели</th>
            <th>Пара</th>
            <th>Время начала</th>
            <th>Название предмета</th>
            <th>Номер аудитории</th>
        </tr>
        {% for day, day_schedule in schedule_group1.items() %}
            {% for pair, details in day_schedule.items() %}
            <tr>
                <td>{{ day }}</td>
                <td>{{ pair }}</td>
                <td>{% if details['time_start'] is not none %} {{ details['time_start'] }} {% else %} {% endif %}</td>
                <td>{% if details['subject'] is not none %} {{ details['subject'] }} {% else %} {% endif %}</td>
                <td>{% if details['room'] is not none %} {{ details['room'] }} {% else %} {% endif %}</td>
            </tr>
            {% endfor %}
        {% endfor %}
    </table>

    <h1 class="text-center">Расписание для группы {{ selected_group }}:</h1>
    <table>
        <tr>
            <th>День недели</th>
            <th>Пара</th>
            <th>Время начала</th>
            <th>Название предмета</th>
            <th>Номер аудитории</th>
        </tr>
        {% for day, day_schedule in schedule_group2.items() %}
            {% for pair, details in day_schedule.items() %}
            <tr>
                <td>{{ day }}</td>
                <td>{{ pair }}</td>
                <td>{% if details['time_start'] is not none %} {{ details['time_start'] }} {% else %} {% endif %}</td>
                <td>{% if details['subject'] is not none %} {{ details['subject'] }} {% else %} {% endif %}</td>
                <td>{% if details['room'] is not none %} {{ details['room'] }} {% else %} {% endif %}</td>
            </tr>
            {% endfor %}
        {% endfor %}
    </table>
</div>
{% endblock %}
